#grandparent {
  padding: 40px;
  background-color: lightcoral;
  border: 1px solid black;
}

#parent {
  padding: 30px;
  background-color: lightblue;
  border: 1px solid black;
}

#child {
  padding: 20px;
  background-color: lightgreen;
  cursor: pointer;
  border: 1px solid black;
}
